.container{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    box-shadow:  0px 5px 7px -7px;
}

.header{
    font-weight: 800;
    font-size: 25px;
}

.search input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
    margin: 10px;
}

.search button{
    width: 80px;
    height: 35px;
    margin: 7px;
    border: none;
    border-radius: 6px;
    background-color: #4ca746;
    color:white;
    font-size: medium;
    cursor: pointer;

}